.button {
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: center;
}

#box {
    position: fixed;
    top: 15vh;
    left: 15vw;
    width: 70vw;
    height: 70vh;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid white;
    text-align: center; /* do wyśrodkowania xd */
    line-height: 35vh;
    font-size: 3vh;
}

#start {
    line-height: normal;
    position: fixed;
    top: calc(50vh - 35px);
    left: calc(50vw - 70px);
}