button{
    color:white;
    background-color: #0f0f0f;
    opacity: 0.9;
    text-shadow:
            0 0 7px #7d0202,
            0 0 10px #7d0202,
            0 0 21px #691704,
            0 0 42px #691704,
            0 0 82px #692704,
            0 0 92px #692704,
            0 0 102px #e30707,
            0 0 151px #e30707;
    text-decoration: none;
}
.wynik{
    font-size: 3vh;
}