body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;


}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    opacity: 0.7;

}
tr{

}
td{
    width: 12vh;
    height: 12vh;
    border-style: solid;
    text-align: center;
    padding: 0;
    border-radius: 100%;
    color: white;
    border-color: #18d771 ;
    font-size: 4vh;
    background-color: #0f0f0f;
}
td:hover{
    font-size: 4.4vh;
}

header{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.header_text{
    margin: 5vw;
    padding: 0.5vw;
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 15px ;
}
.header_text:hover {
    box-shadow: 3px 3px 9px 3px #3f16c4;
    opacity: 1;
    text-shadow:
            0 0 7px #1627c4,
            0 0 10px #1627c4,
            0 0 21px #1916c4,
            0 0 42px #1916c4,
            0 0 82px #3016c4,
            0 0 92px #3016c4,
            0 0 102px #3f16c4,
            0 0 151px #3f16c4;
}

footer{
    position: fixed;
    text-align: center;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 5%;
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    font-size: 3vh;
}
a {
    margin: 5vw;
    padding: 0.5vw;
    color: white;
    text-shadow:
            0 0 7px #7d0202,
            0 0 10px #7d0202,
            0 0 21px #691704,
            0 0 42px #691704,
            0 0 82px #692704,
            0 0 92px #692704,
            0 0 102px #e30707,
            0 0 151px #e30707;
    text-decoration: none;
}
.back:hover{
    text-shadow:
            0 0 7px #1627c4,
            0 0 10px #1627c4,
            0 0 21px #1916c4,
            0 0 42px #1916c4,
            0 0 82px #3016c4,
            0 0 92px #3016c4,
            0 0 102px #3f16c4,
            0 0 151px #3f16c4;
}