#body {
    z-index: -5;
    background-image: url("../images/bg/0.jpg");
}

#gradient {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    animation: load 15s ease-in-out infinite;
    opacity: 0;
    z-index: -4;
    transition: all 5s ease-out;
}

.dot {
    opacity: 0;
    z-index: -3;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    35% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.colorblock {
    height: 48px;
    width: 48px;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 2px solid #0f0f0f;
}

.colorblock:hover {
    filter: blur(0);
    transition: all 0.2s ease-in-out, height 0.05s ease-in-out, width 0.05s ease-in-out;
}


.active {
    border: 2px solid #0faf0f;
}

#kolory {
    position: fixed;
    left: -24px;
    top: calc(50% - 234px);
    transition: all 0.25s ease-in-out;
}

#kolory:hover {
    left: 0px;
}

.blur {
    filter: blur(3px);
    color: transparent;
    transition: all 0.25s ease-in-out;
    text-shadow: 0 0 2px rgba(255,255,255,0.5);
    font-size: small;
}

.blur:hover {
    filter: blur(0px);
    color: #ddd;
    text-shadow: none;
}
