.button {
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: center;
}

.circle {
    border: 2px solid white;
}

#box {
    position: fixed;
    top: 15vh;
    left: 15vw;
    width: 70vw;
    height: 70vh;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid white;
    text-align: center; /* do wyśrodkowania xd */
}